kind: Deployment
apiVersion: apps/v1
metadata:
  name: koji-builder
  labels:
    app: koji
spec:
  replicas: 1
  selector:
    matchLabels:
      app: koji
  template:
    metadata:
      labels:
        app: koji
    spec:
      hostAliases:
      - ip: ${GIT_HOST_IP}
        hostnames:
        - gitcentos.mvista.com
      - ip: ${MIRROR_HOST_IP}
        hostnames:
        - centos6mirror.mvista.com
        - centos7mirror.mvista.com
        - centos8mirror.mvista.com
      - ip: ${COLLECTIVE_HOST_IP}
        hostnames:
        - centos7collective.mvista.com
      containers:
        - name: koji-builder
          image: jpuhlman/koji-builder
          securityContext:
            privileged: true
            capabilities:
              add: ["SYS_ADMIN"]
          env:
          - name: KOJI_HOST
            value: ${KOJI_HUB_HOST_IP}
          - name: HOST_IP
            value: ${KOJI_HUB_HOST_IP}
          - name: KOJI_BUILDER
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: KOJI_SCMS
            value: ${KOJI_SCMS}
          - name: KOJI_BUILDER_MAXJOBS
            value: "4"
          - name: KOJI_BUILDER_CAPACITY
            value: "4"
          volumeMounts:
          - mountPath: /var/lib/mock
            name: koji-mock
          - mountPath: /srv
            name: koji-srv
      volumes:
      - name: koji-mock
        hostPath:
           path: ${KOJI_MOCK}
           type: Directory
      - name: koji-srv
        hostPath:
           path: /srv
           type: Directory
      restartPolicy: Always
