kind: Deployment
apiVersion: apps/v1
metadata:
  name: koji-client
  namespace: kojiclient
  labels:
    app: koji
spec:
  replicas: 1
  selector:
    matchLabels:
      app: koji
  template:
    metadata:
      labels:
        app: koji
    spec:
      hostAliases:
      - ip: ${GIT_HOST_IP}
        hostnames:
        - gitcentos.mvista.com
      - ip: ${MIRROR_HOST_IP}
        hostnames:
        - centos7mirror.mvista.com
        - centos8mirror.mvista.com
      - ip: ${COLLECTIVE_HOST_IP}
        hostnames:
        - centos7collective.mvista.com
      containers:
        - name: koji-client
          image: yufenkuo/koji-client
          env:
          - name: HOST
            value: ${KOJI_HUB_HOST_IP}
          - name: KOJI_MOCK
            value: ${KOJI_MOCK}
          - name: KOJI_SCMS
            value: ${KOJI_SCMS}
          - name: CENTOS_MAJOR_RELEASE
            value: "${CENTOS_MAJOR_RELEASE}"
          - name: CENTOS_MINOR_RELEASE
            value: "${CENTOS_MINOR_RELEASE}"
          - name: CENTOS_SUFFIX
            value: "${CENTOS_SUFFIX}"
          - name: CONF
            value: "${CONF}"
          volumeMounts:
          - mountPath: /opt/koji-clients
            name: kojihub-config
          - mountPath: /root/run-scripts
            name: runscripts
          - mountPath: /root/bin
            name: rootbinscripts
          - mountPath: /root/conf
            name: conf
      volumes:
      - name: kojihub-config
        hostPath:
           path: /koji/config
           type: Directory
      - name: runscripts
        hostPath:
           path: ${TOPDIR}/koji-jenkins-setup/run-scripts2
           type: Directory
      - name: rootbinscripts
        hostPath:
           path: ${TOPDIR}/koji-jenkins-setup/bin
           type: Directory
      - name: conf
        hostPath:
           path: /tmp/koji-setup/koji-jenkins-setup/conf
           type: Directory
      restartPolicy: Always
