apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jenkins-ingress
  labels:
    app: koji
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: ${JENKINS_INGRESS_HOSTNAME}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: jenkins-service
            port:
              number: 8080

