kind: Deployment
apiVersion: apps/v1
metadata:
  name: koji-mash
  namespace: mash
  labels:
    app: mash
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mash
  template:
    metadata:
      labels:
        app: mash
    spec:
      hostAliases:
      - ip: ${GIT_HOST_IP}
        hostnames:
        - gitcentos.mvista.com
      - ip: ${MIRROR_HOST_IP}
        hostnames:
        - centos7mirror.mvista.com
      containers:
        - name: koji-mash
          image: yufenkuo/koji-mash
          resources: 
            limits:
              cpu: "1"
            requests:
              cpu: "0.5"
          ports:
            - name: http-port
              containerPort: 80
              protocol: TCP
          env:
          - name: HOST
            value: ${KOJI_HUB_HOST_IP}
          - name: KOJI_MOCK
            value: ${KOJI_MOCK}
          - name: KOJI_SCMS
            value: ${KOJI_SCMS}
          volumeMounts:
          - mountPath: /opt/koji-clients
            name: kojihub-config
          - mountPath: /srv
            name: srv
          - mountPath: /builds
            name: builds
          - mountPath: /tmp
            name: tmp-volume
          - mountPath: /run
            name: run-volume
          - mountPath: /sys/fs/cgroup
            name: cgroup-volume
            readOnly: true
      volumes:
      - name: kojihub-config
        hostPath:
           path: /koji/config
           type: Directory
      - name: srv
        hostPath:
           path: /srv
           type: Directory
      - name: builds
        hostPath:
           path: /builds/centos7/release/centos-7.6
           type: Directory
      - name: cgroup-volume
        hostPath:
           path: /sys/fs/cgroup
           type: Directory
      - name: tmp-volume
        emptyDir: {}
      - name: run-volume
        emptyDir: {}
      restartPolicy: Always
